<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger level="INFO" name="com.skillbox.blogapp"/>

    <logger level="WARN" name="tech.jhipster"/>

    <logger level="WARN" name="javax.activation"/>
    <logger level="WARN" name="javax.mail"/>
    <logger level="WARN" name="javax.xml.bind"/>
    <logger level="WARN" name="ch.qos.logback"/>
    <logger level="WARN" name="com.jayway.jsonpath"/>
    <logger level="WARN" name="com.ryantenney"/>
    <logger level="WARN" name="com.sun"/>
    <logger level="WARN" name="com.zaxxer"/>
    <logger level="WARN" name="com.github.dockerjava"/>
    <logger level="WARN" name="org.testcontainers"/>
    <logger level="WARN" name="io.undertow"/>
    <logger level="ERROR" name="io.undertow.websockets.jsr"/>
    <logger level="WARN" name="org.apache"/>
    <logger level="OFF" name="org.apache.catalina.startup.DigesterFactory"/>
    <logger level="WARN" name="org.bson"/>
    <logger level="WARN" name="org.hibernate.validator"/>
    <logger level="WARN" name="org.hibernate"/>
    <logger level="OFF" name="org.hibernate.ejb.HibernatePersistence"/>
    <logger level="WARN" name="org.springframework"/>
    <logger level="WARN" name="org.springframework.web"/>
    <logger level="WARN" name="org.springframework.security"/>
    <logger level="WARN" name="org.springframework.cache"/>
    <logger level="WARN" name="org.thymeleaf"/>
    <logger level="WARN" name="org.xnio"/>
    <logger level="WARN" name="springfox"/>
    <logger level="WARN" name="sun.rmi"/>
    <logger level="WARN" name="liquibase"/>
    <logger level="INFO" name="LiquibaseSchemaResolver"/>
    <logger level="WARN" name="sun.rmi.transport"/>
    <logger level="ERROR" name="com.tngtech.archunit.core.importer"/>

    <root>
        <appender-ref ref="CONSOLE"/>
        <level>WARN</level>
    </root>

</configuration>
